*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

table {
    
    width: 100%;
  }
  th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #818181;
  }
  hr{
    border: 3px solid #818181 ;
  }